<script>
	import Nav from '../components/Nav.svelte';
	import LibLoader from '../components/LibLoader.svelte';
	import { onMount } from 'svelte'

	import { timestamp, updater, enableUpdater } from './_stores.js';
	import { initBeacon, beacon, beaconRequestPermissions, beaconDeletePermissions } from './_stores.js';
	import { getBeaconAddress, userAddr, kusdUserBalance } from './_stores.js';
	import { assetPairs } from './_constants.js';


	export let segment;

	let initTradingView;
	const tv = new Promise(res => initTradingView = res)
    	.then(x => {console.log("initTradingView: ", x); return x});

	onMount(() => {
		const addr = getBeaconAddress();
		if (addr !== undefined) {
			$userAddr = Promise.resolve(addr);
		}

		updater();
	});
</script>

<style>
	main {
		flex-grow: 1;
		position: relative;
		padding: 26px 6px 26px 6px;
		margin: 0;
		box-sizing: border-box;
	}
	@media (min-width: 994px) {
		main {
			/* max-width: 80em; */
			padding: 3em 2em 3em 2em;
			/* margin: 0 auto; */
		}
	}
</style>

<svelte:head>
	<LibLoader src="walletbeacon_2.2.4.min.js" libraryDetectionObject="beacon" on:loaded={() => initBeacon(window.beacon)} />
	<LibLoader src="https://s3.tradingview.com/tv.js" libraryDetectionObject="TradingView" on:loaded={() => initTradingView(window.TradingView)} />
		
</svelte:head>


<!-- debug stuff below here -->
<!-- <p><label><input type=checkbox bind:checked={$enableUpdater}>poll RPC node for updates</label></p> -->
<!-- <details>
	<summary>Debug</summary>

	<p>{#await beacon}loading beacon...{:then}beacon loaded{:catch e}Error loading beacon: {e}{/await}</p>
	
	{#await $userAddr}
		{#await beacon}
			loading beacon...
		{:then b}
			<button on:click={() => beaconRequestPermissions(b)}>connect wallet</button>
		{/await}
	{:then addr}
		{#await beacon}
			wallet connected <br />
			<p>{addr}</p>
		{:then b}
			<button on:click={() => beaconDeletePermissions(b)}>reset</button>
			wallet connected
			<p>{addr}</p>
		{/await}
	{/await}
	
	
	<p>timestamp:
		{#await $timestamp}
			loading
		{:then timestamp}
			{timestamp}
		{:catch e}
			error: {e}
		{/await}
	</p>
	<p>kusdUserBalance:
		{#await $userAddr}
			wallet not connected
		{:then}
			{$kusdUserBalance === "loading" ? "loading" : $kusdUserBalance.div(10**18).toFixed(2)}
		{:catch e}
			Error: {e}
		{/await}
	</p>
</details> -->

<div>
	{#each assetPairs as asset}
		<!-- TradingView Widget BEGIN -->
		<div id={asset} class="tradingview-widget-container" style="display: none; position: absolute; z-index: 1; border: #555 solid 1px;">
			<div id="tradingview_{asset}" style="height: 100%">
				<!-- extra div below to fix "Cannot read property 'removeChild' of null" -->
				<!-- see https://github.com/sveltejs/svelte/issues/6037#issuecomment-810304989 -->
				<div>
					{#await tv}
						loading tradingview
					{:then tv}
						{
							new tv.widget({
								"autosize": true,
								"symbol": `COINBASE:${asset.replace('-','')}`,
								"interval": "D",
								"timezone": "Etc/UTC",
								"theme": "dark",
								"style": "1",
								"locale": "en",
								"toolbar_bg": "#f1f3f6",
								"enable_publishing": false,
								"hide_top_toolbar": true,
								"save_image": false,
								"container_id": `tradingview_${asset}`
							})
						}
					{/await}
				</div>
			</div>
		</div>
		<!-- TradingView Widget END -->
	{/each}
</div>

<Nav {segment}/>

<main>
	<slot></slot>
</main>