html {
	color: #ddd;
	background-color: #333;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: overlay;
}

body {
	margin: 20px 0;
	/* font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
	font-family: system-ui;
	font-size: 14px;
	line-height: 1.5;
	/* height: 100%; */
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	text-align: center;
	font-size: 22px;
}

@media (min-width: 994px) {
	h1 {
		font-size: 2em;
	}
}

a {
	color: inherit;
}
a:hover {
	color: #d17308;
}

button {
	font-family: system-ui !important;
	font-weight: 400 !important;
	text-transform: none !important;
}
button.raised {
	color: black !important;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #ddd;
	background-color: #555;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}


/* select {
    padding: 4px 8px;
	appearance: unset;
	background-color: #252525;
    color: #ddd;
}
select:hover {
	cursor: pointer;
	background-color: #444;
    color: white;
}
option {
	color: #ddd;
	background-color: #333;
}
input {
	border-color: #000 #888 #888 #000;
	color: #ddd;
	background-color: #333;
}
input:hover {
	border-color: #222 #888 #888 #222;
	color: white;
	background-color: #444;
}
button {
    padding: 6px 10px;
    appearance: unset;
    color: #ddd;
	background-color: #333;
    border-color: #888 #000 #000 #888;
}
button:hover {
    cursor: pointer;
    border-style: inset;
    color: white;
    background-color: #444;
    border-color: #000 #888 #888 #000;
}
button[disabled]:hover {
	cursor: not-allowed;
}
button + button {
	margin-left: 6px;
} */

